<script src="/static/comments.js" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename= '461.css')}}">
<html>

{% extends 'base.html' %}

{%block title%}
Accuride
{%endblock%}

{%block content%}
<div class="inform"><h1>Select Spinner</h1></div>
<div class="l461-nav">
  <div class="spinOptions"><a href="#/spin3"><h1>SPIN 3</h1></a></div>
  <div class="spinOptions"><a href="#/spin4"><h1>SPIN 4</h1></a></div>
  <div class="spinOptions"><a href="#/spin5"><h1>SPIN 5</h1></a></div>
  <div class="spinOptions"><a href="#/spin6"><h1>SPIN 6</h1></a></div>
  <div class="spinOptions"><a href="#/spin7"><h1>SPIN 7</h1></a></div>
  <div class="spinOptions"><a href="#/spin8"><h1>SPIN 8</h1></a></div>
</div>




{%endblock%}
</html>