
<html>
<link rel="stylesheet" href="{{ url_for('static', filename= 'login.css')}}">
{% extends 'base.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

{%block title%}
Accuride
{%endblock%}


{% block content %}

{% if message %}

{% endif %}
<h2 class="CONSTRUCTION">Login</h2>
<div class="login-container">
  <label for ="userName"></label>
  <form class="login-form" method="POST">
    <div>
    <input class="user" 
      type="text" 
      placeholder="email/username"
      type="email"
      id = "email"
      name = "email"
    />
</div>
<div class="login-container">
    <input
      type="password" 
      placeholder="Enter Password"
      type="password"
      id = "password"
      name = "password"
    >
    </div>
    
    <button
     class="login"
     type="submit">Login</button>
  </form>

</div>

<div class="register-container">
  <a id="signup" href="/sign-up">Register </a> &minus;
  <a id="pass-rec" href="{{url_for('auth.recover')}}">Fogot username/psw</a>
</div>


{%endblock%}

</html>